* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor-icons {
  color: #2DECF0;
}

.ImagenPrincipal {
  background-image: url("../imagenes/salsa.jpg");
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-inline: 150px;
}
.ImagenPrincipal h2 {
  color: white;
  background-color: rgba(0, 0, 0, 0.377);
  padding-inline: 15px;
}
.ImagenPrincipal p {
  color: white;
  background-color: rgba(0, 0, 0, 0.377);
}

.mapa-video {
  padding: 1rem;
  background-color: black;
  display: flex;
}
.mapa-video p {
  color: white;
  font-family: sans-serif;
  justify-content: center;
  padding-inline: 200px;
}

.menu {
  display: flex;
  list-style-type: none;
  background-color: black;
  gap: 1rem;
  padding: 1rem;
  justify-content: space-around;
}

.menu-items {
  color: white;
  font-family: sans-serif;
  text-decoration: none;
}

.fondo {
  background-image: url(../imagenes/fondoc.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.gallery {
  min-height: 100vh;
  width: 80%;
  outline: 10px solid #2DECF0;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
  gap: 30px;
}
.gallery-foto {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.quienessomos {
  padding-top: 20px;
}

.fuentequienes {
  color: #2DECF0;
}

.tarjeta-contacto {
  background-color: #333;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.tarjeta-texto {
  color: #2DECF0;
}

.tarjeta-titulo {
  color: #2DECF0;
}

.tarjeta-foto {
  max-width: 100px;
}
.tarjeta-foto .tarjetita-contacto {
  display: flex;
  padding: 70px;
  gap: 10px;
}

.precios {
  margin: 0 auto;
  width: 90%;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.columna {
  background-color: #1F3F40;
  color: #2DECF0;
  border: 1px solid #333;
  margin: 0% auto;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 10px 10px 5px rgb(8, 8, 8);
  width: 30%;
  box-sizing: border-box;
}

.precio {
  font-size: 50px;
  color: #2DECF0;
}

.btn-precio {
  background-color: #24BABD;
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  margin-bottom: 10px;
}

.btn-precio:hover {
  background-color: #2DECF0;
}

@media (max-width: 700px) {
  .columna {
    width: 100%;
    margin-bottom: 15px;
  }
}
@media (max-width: 1070px) {
  .columna {
    width: 100%;
    margin-bottom: 15px;
  }
}
.cartas {
  display: flex;
  gap: 1rem;
  align-items: stretch;
  flex-wrap: nowrap;
}

.cartita {
  background-color: rgba(25, 132, 219, 0.425);
  margin-bottom: 1rem;
  padding: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}/*# sourceMappingURL=estilos.css.map */