    ///QUIENES SOMOS ////
    
    .fondo {
        background-image: url(../imagenes/fondoc.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        }
    
    .gallery{
      min-height: 100vh;
      width: 80%;
      outline: 10px solid #2DECF0; 
      margin: auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, 
      minmax(min(350px,100% ), 1fr)) ;
      gap: 30px;
  
      &-foto {
  
          width: 100%;
          height: 100%;
          object-fit: cover;}
  }

   .quienes{
    background-color: #000000;
    color: #2DECF0;
    border: 1px solid #000000;
    margin:  0% auto;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 10px 10px 5px rgb(8, 8, 8);
    width: auto;
    box-sizing: border-box;
    
  }
  .quienes-somos {
   font-size: 50px;
   color: #2DECF0;
  }
  
  .btn-precio {
   background-color: #24BABD;
   display: block;
   padding: 10px;
   color: white;
   text-decoration: none;
   border-radius: 3px;
   margin-bottom: 10px;
  }

  .btn-precio:hover {
    background-color: #2DECF0;

  }

  @media (max-width: 700px){
   .columna { 
    width: 100%;
    margin-bottom: 15px;
  }   }


  @media (max-width: 1070px){
  
   .columna{
       width: 100%;
       margin-bottom: 15px;
   }
  }

  .animacion1 {
    -webkit-animation: tilt-in-top-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: tilt-in-top-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }


@-webkit-keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
            transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
            transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}

.animacion2 {
	-webkit-animation: tilt-in-fwd-bl 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tilt-in-fwd-bl 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes tilt-in-fwd-bl {
  0% {
    -webkit-transform: rotateY(-20deg) rotateX(-35deg) translate(-300px, 300px) skew(-35deg, 10deg);
            transform: rotateY(-20deg) rotateX(-35deg) translate(-300px, 300px) skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
            transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-fwd-bl {
  0% {
    -webkit-transform: rotateY(-20deg) rotateX(-35deg) translate(-300px, 300px) skew(-35deg, 10deg);
            transform: rotateY(-20deg) rotateX(-35deg) translate(-300px, 300px) skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
            transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
